body {
    margin: 0;
    padding: 0;
    height: 400vh;
}
    

.bloco-inicio {
    background-image: url(header-bg.jpg);
    height: 99vh;
    width: 100%;
}

.bloco-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco-meio {
    background-color: red;
}

#olaa {
    color: white;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#olaa {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bom {
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#bom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#diga {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #ffc800;
    border-color: #ffc800;
}

#diga {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PARTE DE SERVIÇOS*/

.caixao {
    background-color: red;
    height: 99vh;
    width: 100%;
}

.texto-centro {
    display: block;
    text-align: center;
}

.titulo-emcima {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Montserrat", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.subtitulo-embaixo {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
    --bs-text-opacity: 1;
    color: #6c757d;
    margin-top: 0;
    line-height: 1.2;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.fa-stack {
    color: yellow;
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    position: relative;
    width: 2.5em;
}

.fa-4x {
    font-size: 4em;
}

.centralizador-grade {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grade-t {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}